.App {
  text-align: center;
 
}
body{
background-color: rgb(0, 0, 0);
color:aliceblue;
}
.navbar{
background-color: rgba(170, 245, 176, 0.445);
}
.btn{
  background-color: rgba(95, 252, 147, 0.466);
}
.card {
  border-radius: 50px;
  margin: 3em;
  background-color: rgba(0, 0, 0, 0.144);
}

.margin{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.img{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
