.App {
  text-align: center; 
}
body{
background-color: rgb(134, 239, 255);
}
.navbar{
background-color: rgba(170, 245, 245, 0.863);
}
.btn{
  background-color: rgb(95, 215, 252);
}
.card {
  border-radius: 50px;
  margin: 3em;
}

.margin{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;}

